<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/admin/update}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
    <br/>
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <br/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <br/>
    <label th:for="roles">Roles </label>
    <select multiple th:name="roles" size="3" th:id="roles" required>
        <option disabled>Select roles</option>
        <option th:each="role : ${allRoles}" th:value="${role}" th:text="${role.name}"></option>
    </select>
<!--    <label th:for="roles">Roles</label>
    <select id="roles" th:field="*{roles}">
        <option th:value="'ADMIN'" th:text="ADMIN"></option>
        <option th:value="'USER'" th:text="USER"></option>
    </select>-->
    <input type="submit" value="Update User">

</form>
</body>
</html>